* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 24px
}
legend {
  font-size: 15px;
  padding: 5px
}
button {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  height: 100vh;
  width: 100vw;
}

.content {
  /* border: 1px solid #555; */
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 13px;
  height: 80vh;
  width: 80vw;
  position: relative;
}

#messages-view{
  height: 80%;
  max-height: 90%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.sender {
  margin-top: 20px;
  background-color: antiquewhite;
  width: 100%;
}
.message {
  margin-top: 3px
}

.message-input-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: bisque;
  padding: 10px;
}

#input-message {
  width: 80%;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #555;
  /* height: 30px; */
  padding: 10px;
}
#button-message {
  width: 15%;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #555;
}
